<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">


      <div class="card mx-auto mt-5" style="width: 50rem;">
        <div class="card-body">

          <h1>Sentiment Analysis</h1>
          <hr>
          <form action="{{ url_for('predict')}}" method="post"></form>
          <div class="col-sm">
            <div class="row">
              <textarea id="inputText" name="inputText" rows="5" class="form-control"></textarea>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary mt-3">Predict</button>
            </div>
          </div>
          <br />
          <p>{{ prediction_text }}</p>

          <p>{{ confidence_text }}</p>
          </form>
        </div>

      </div>
    </div>

  </div>
</body>

</html>
