<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <form>
    <div class="container">
        <div class="align-middle">
            <h1 >Sentiment Analysis</h1>
        </div>
        
        <div class="card" style="width: 50em;">
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="row">
                        <textarea id="input_text" name="input_text" rows="5" cols="50"></textarea>
                    </div>
                    <div class="row" >
                        <button type="button" class="btn btn-primary mt-3">Predict</button>
                    </div>
                  </div>
                  <div class="col-sm">
                    Sentiment: {{ prediction_text }}
                  </div>
                </div>
            </div>
        </div>   

    </div>
	
  </form>
   
   

 </div>


<!-- Scripts to add bootstrap-->
<!-- Reference:
Otto, M. (2021). Introduction. [online] Getbootstrap.com. Available at: https://getbootstrap.com/docs/4.3/getting-started/introduction/ [Accessed 16 Dec. 2021].‌-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>